@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Root VARIABLES */
:root {
  --header-height: 3rem;
  --font-semi: 600;

  /* CSS COLORS */
  --first-color: #fb982f;
  --second-color: #0b1b43;
  --text-color: #565964;
  --circle-one: #1100ff;
  --circle-two: #00b9ff;

  /* FONT STYLES */
  --header-font: "Libre Caslon Text", serif;
  --body-font: "Kaisei Decol", serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --normal-font-font-size: 0.938rem;

  /* MARGINS */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* Z-INDEX */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Media Screen Min Width: 768px */
@media only screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-font-size: 1rem;
  }

  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section_title {
    margin-bottom: var(--mb-6);
  }
  .section_title::after {
    width: 80px;
    top: 3rem;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: normal;
  color: var(--second-color);
  overflow-x: hidden;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Layout */
.bd_grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #4e5165;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--first-color);
}

.circle {
  border-radius: 50%;
  opacity: 0.25;
  -webkit-filter: blur(80px);
  filter: blur(80px);
  position: absolute;
  z-index: -2;
}
.section_title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section_title::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2.5rem;
  background: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
}

@media only screen and (min-width: 1080px) {
  .bd_grid {
    margin: 0 auto;
  }
  .section_title::after {
    width: 80px;
    top: 3rem;
  }
}
